---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Letters in English</h1>
      <div class="card">
        <div class="card-body">
          <p class="card-text">This section will feature a collection of letters written by Mr. Umesh Chandra in English. These letters, addressed to various individuals and organizations, reflect his thoughts on a wide range of subjects. The content for this section is being compiled and will be updated soon.</p>
        </div>
      </div>
    </div>
  </main>
</Layout>
