---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Letters in Telugu</h1>
      <div class="card">
        <div class="card-body">
          <p class="card-text">This section will feature a collection of letters written by Mr. Umesh Chandra in Telugu. These letters, in his mother tongue, offer a personal and intimate perspective on his life and work. The content for this section is being compiled and will be updated soon.</p>
        </div>
      </div>
    </div>
  </main>
</Layout>
