---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1>Letters – Telugu</h1>
      <p>This page will contain letters in Telugu.</p>
    </div>
  </main>
</Layout>
