---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">AIG Posting</h1>
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-gold">Summary</h2>
          <p class="card-text">Information about Umesh Chandra's posting as Assistant Inspector General of Police (AIG) will be added here. This section will provide an overview of his responsibilities and accomplishments in this role.</p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-gold">Details</h2>
          <p class="card-text">More details about the AIG posting will be added here as they become available. The focus of this section will be on the specific projects and initiatives led by Mr. Umesh Chandra during his time as AIG.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-gold">Photo Gallery</h2>
          <p class="card-text">A collection of photographs from Mr. Umesh Chandra's tenure as AIG will be featured here. These images will provide a visual narrative of his work and contributions.</p>
          </div>
      </div>
    </div>
  </main>
</Layout>
