---
import Layout from '../../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import APpolicecomputercenter from '../../../assets/Photos/hyderabad/APpolicecomputercenter.jpg';
import Jan199 from '../../../assets/Photos/hyderabad/Jan199.jpg';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">AIG Posting</h1>
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-gold">Summary</h2>
          <p class="card-text">Information about Umesh Chandra's posting as Assistant Inspector General of Police (AIG) will be added here. This section will provide an overview of his responsibilities and accomplishments in this role.</p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-gold">Details</h2>
          <p class="card-text">More details about the AIG posting will be added here as they become available. The focus of this section will be on the specific projects and initiatives led by Mr. Umesh Chandra during his time as AIG.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-gold">Photo Gallery</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 mt-3">
            <div class="card">
                <Image src={APpolicecomputercenter} alt="AP Police Computer Center" class="w-full h-auto rounded-lg" />
                <div class="card-body">
                    <p class="card-text">AP Police Computer Center</p>
                </div>
            </div>
            <div class="card">
                <Image src={Jan199} alt="Jan 199" class="w-full h-auto rounded-lg" />
                <div class="card-body">
                    <p class="card-text">Jan 199</p>
                </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </main>
</Layout>
