---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Cuddapah Posting</h1>
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-gold">Summary</h2>
          <p class="card-text">Umesh Chandra, as the Superintendent of Police (SP) for the Cuddapah district, which was considered the second most troublesome district in India, successfully restored normal conditions rapidly due to his exceptional abilities. He was affectionately known as the "Cuddapah Tiger" by the local people.</p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-gold">Details</h2>
          <p class="card-text">Mr. Umesh Chandra's tenure as the Superintendent of Police in Cuddapah is often cited as a testament to his courage and effectiveness. He was posted to a district that was grappling with significant law and order challenges, being ranked as the second most troublesome in the country. With his strategic and hands-on approach, he was able to swiftly bring the situation under control, restoring a sense of normalcy and security for the residents. His remarkable success in a challenging environment earned him the deep respect and admiration of the local population, who affectionately called him the 'Cuddapah Tiger'.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-gold">Photo Gallery</h2>
          <p class="card-text">A collection of photographs from Mr. Umesh Chandra's tenure in Cuddapah will be featured here. These images will provide a visual narrative of his work and impact on the local community.</p>
          </div>
      </div>
    </div>
  </main>
</Layout>
