---
import Layout from '../../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import policelines from '../../../assets/Photos/cuddapah/policelines.jpg';
---

<Layout>
  <main>
    <div class="container">
      <div class="row items-center">
        <div class="col-md-8">
          <h1 class="text-gold">Postings</h1>
          <p>This section provides an overview of Mr. Umesh Chandra's various postings during his distinguished career in the Indian Police Service. Each posting is a testament to his unwavering commitment to justice and his innovative approach to policing.</p>
        </div>
        <div class="col-md-4">
          <Image src={policelines} alt="Police Lines" class="img-fluid rounded" />
        </div>
      </div>
      
      <div class="row mt-5">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-gold">Cuddapah</h5>
              <p class="card-text">Known as the "Cuddapah Tiger," Mr. Chandra's tenure in this district was marked by his effective and rapid restoration of normal conditions.</p>
              <a href="/career/postings/cuddapah" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-gold">Karimnagar</h5>
              <p class="card-text">In Karimnagar, Mr. Chandra continued his dedicated service, focusing on community engagement and maintaining law and order.</p>
              <a href="/career/postings/karimnagar" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-gold">AIG (Headquarters)</h5>
              <p class="card-text">As Assistant Inspector General of Police, Mr. Chandra played a crucial role in the administrative and operational functions of the police force.</p>
              <a href="/career/postings/aig" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-gold">Warangal</h5>
              <p class="card-text">In Warangal, Mr. Chandra launched the "Jana Jaagruti" program and made significant strides against extremist activities.</p>
              <a href="/career/postings/warangal" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
