---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Karimnagar Posting</h1>
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-gold">Summary</h2>
          <p class="card-text">Information about Umesh Chandra's posting in Karimnagar will be added here. During his tenure, he was known for his dedication and commitment to upholding the law.</p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-gold">Details</h2>
          <p class="card-text">More details about the Karimnagar posting will be added here as they become available. The focus of this section will be on the specific challenges faced and the strategies employed by Mr. Umesh Chandra to bring about a positive change in the district.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-gold">Photo Gallery</h2>
          <p class="card-text">A collection of photographs from Mr. Umesh Chandra's tenure in Karimnagar will be featured here. These images will provide a visual narrative of his work and impact on the local community.</p>
          </div>
      </div>
    </div>
  </main>
</Layout>
