---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Thank You!</h1>
      <div class="card">
        <div class="card-body">
          <p>Thank you for submitting your tribute. It will be reviewed and published on the website shortly.</p>
          <a href="/readers-views/read-tributes" class="btn btn-primary">Read Tributes</a>
        </div>
      </div>
    </div>
  </main>
</Layout>
