---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Umesh Chandra Trust</h1>
      <p>The Umesh Chandra Trust was established to carry forward the ideals and vision of Mr. Umesh Chandra. The Trust is dedicated to serving the community and promoting the values of integrity, service, and patriotism. Explore the different aspects of the Trust's work through the following sections:</p>
      
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-gold">Trust Overview</h5>
              <p class="card-text">Learn about the mission, vision, and the people behind the Umesh Chandra Trust.</p>
              <a href="/trust/trust-overview" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-gold">Objectives & Activities</h5>
              <p class="card-text">Discover the key objectives of the Trust and the various activities and programs it undertakes to achieve its goals.</p>
              <a href="/trust/objectives-activities" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-gold">Trust Deed Excerpt</h5>
              <p class="card-text">Read an excerpt from the official Trust Deed, outlining the legal framework and guiding principles of the Trust.</p>
              <a href="/trust/trust-deed-excerpt" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-gold">Donate</h5>
              <p class="card-text">Support the work of the Umesh Chandra Trust by making a donation. Your contribution will help us continue our mission of service.</p>
              <a href="/trust/donate" class="btn btn-primary">Donate Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
