---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Objectives & Activities</h1>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-gold">Objectives</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">To promote the ideals of service, integrity, and patriotism.</li>
            <li class="list-group-item">To support the families of police martyrs.</li>
            <li class="list-group-item">To provide educational scholarships to deserving students.</li>
            <li class="list-group-item">To undertake community development projects.</li>
          </ul>
          <h2 class="card-title text-gold mt-4">Activities</h2>
          <p class="card-text">This section will provide details about the various activities and programs undertaken by the Trust to achieve its objectives. The content for this section is being compiled and will be updated soon.</p>
        </div>
      </div>
    </div>
  </main>
</Layout>
