---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1>Life</h1>
      <p>This is the hub page for the Life section.</p>
    </div>
  </main>
</Layout>
