---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1>Schooling & University</h1>
      <p>This page will contain information about the schooling and university life of Umesh Chandra.</p>
    </div>
  </main>
</Layout>
