---
// You can add props or script here if needed
import Logo from '../assets/image.png';
---
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" href="/umeshchandra/">
      <img src={Logo.src} alt="Chadalavada Umesh Chandra" height="40" class="me-2"/>
      <span class="d-none d-lg-inline">CHADALAVADA UMESH CHANDRA <span class="text-gold">I.P.S.</span></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/umeshchandra/perdetails">Personal Details</a></li>
        <li class="nav-item"><a class="nav-link" href="/umeshchandra/achievements">Career Highlights</a></li>
        <li class="nav-item"><a class="nav-link" href="/umeshchandra/life">Life Details</a></li>
        <li class="nav-item"><a class="nav-link" href="/umeshchandra/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>