---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1>Jana Jaagruti</h1>
      <p>This page will contain information about the Jana Jaagruti program in Warangal.</p>
    </div>
  </main>
</Layout>
