---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1>Warangal Photos</h1>
      <p>This page will contain photos from the Warangal posting of Umesh Chandra.</p>
    </div>
  </main>
</Layout>
