---
import Layout from '../../../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1>Warangal Photos</h1>
      <div class="flex justify-center my-4">
        <a href="/umeshchandra/career/postings/warangal" class="mx-2 px-4 py-2 bg-gray-200 rounded">Home</a>
        <a href="/umeshchandra/career/postings/warangal/documents" class="mx-2 px-4 py-2 bg-gray-200 rounded">Documents</a>
        <a href="/umeshchandra/career/postings/warangal/jana-jaagruti" class="mx-2 px-4 py-2 bg-gray-200 rounded">Jana Jaagruti</a>
        <a href="/umeshchandra/career/postings/warangal/photos" class="mx-2 px-4 py-2 bg-gray-200 rounded">Photos</a>
      </div>
      <p>This page will contain photos from the Warangal posting of Umesh Chandra.</p>
    </div>
  </main>
</Layout>
