---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1>Childhood Photos</h1>
      <p>This page will contain childhood photos of Umesh Chandra.</p>
    </div>
  </main>
</Layout>
