---
import Layout from '../../../layouts/Layout.astro';
import { Image } from 'astro:assets';

const modules = import.meta.glob('../../../assets/Photos/family/*.jpg', { eager: true });
const images = Object.values(modules);
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Family Photos</h1>
      <div class="row">
        {images.map(image => (
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <Image src={image.default} class="card-img-top" alt="Family photo"/>
            </div>
          </div>
        ))}
      </div>
    </div>
  </main>
</Layout>