---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1>Photo Gallery</h1>
      <p>This is the hub page for the Photo Gallery section.</p>
    </div>
  </main>
</Layout>
