---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1>IPS & Career Photos</h1>
      <p>This page will contain IPS & career photos of Umesh Chandra.</p>
    </div>
  </main>
</Layout>
