---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">University Photos</h1>
      <div class="card">
        <div class="card-body">
          <p class="card-text">This section will feature a collection of photographs from Mr. Umesh Chandra's university days at Nizam College and Osmania University. The photo gallery is currently being curated and will be updated soon.</p>
          <div class="row mt-4">
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Photo coming soon</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Photo coming soon</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Photo coming soon</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
