---
import Header from '../components/Header.astro';
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';
import 'bootstrap/dist/css/bootstrap.min.css';
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>Chadalavada Umesh Chandra: A Hero's Life</title>
	</head>
	<body class="flex flex-col min-h-screen bg-yellow-500">
		<Header />
		<!-- <Menu /> -->
		<slot />
		<Footer />

		<a href="#" id="goToTopBtn" title="Go to top">&uarr;</a>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<script>
			const goToTopBtn = document.getElementById('goToTopBtn');

			if (goToTopBtn) {
				window.onscroll = function() {
					if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
						goToTopBtn.style.display = "block";
					} else {
						goToTopBtn.style.display = "none";
					}
				};

				goToTopBtn.addEventListener("click", function(e) {
					e.preventDefault();
					window.scrollTo({ top: 0, behavior: 'smooth' });
				});
			}
		</script>
	</body>
</html>
