---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1>Career Highlights</h1>
      <p>This page will contain information about the career highlights of Umesh Chandra.</p>
    </div>
  </main>
</Layout>
