---
import Layout from '../../layouts/Layout.astro';

const modules = import.meta.glob('../../assets/Audio/*.mp3', { eager: true });
const audioFiles = Object.values(modules);
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Audio</h1>
      <div class="card">
        <div class="card-body">
          <p class="card-text">This section features a collection of audio clips related to Mr. Umesh Chandra.</p>
          <div class="row mt-4">
            {audioFiles.map(audio => (
              <div class="col-md-6 mb-4">
                <div class="card">
                  <div class="card-body text-center">
                    <p class="card-text">{audio.default.split('/').pop().replace('.mp3', '')}</p>
                    <audio controls>
                      <source src={audio.default} type="audio/mpeg">
                      Your browser does not support the audio element.
                    </audio>
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
