---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Documents</h1>
      <div class="card">
        <div class="card-body">
          <p class="card-text">This section will feature a collection of documents related to Mr. Umesh Chandra's work, such as official reports and commendations. The documents are currently being compiled and will be updated soon.</p>
          <ul class="list-group list-group-flush mt-4">
            <li class="list-group-item">Document 1 Title - <a href="#">Download</a></li>
            <li class="list-group-item">Document 2 Title - <a href="#">Download</a></li>
            <li class="list-group-item">Document 3 Title - <a href="#">Download</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
