---
import Layout from '../../layouts/Layout.astro';

const modules = import.meta.glob('../../assets/Video/*.mpg', { eager: true });
const videoFiles = Object.values(modules);
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Videos</h1>
      <div class="card">
        <div class="card-body">
          <p class="card-text">This section features a collection of videos related to Mr. Umesh Chandra's life and career.</p>
          <div class="row mt-4">
            {videoFiles.map(video => (
              <div class="col-md-6 mb-4">
                <div class="card">
                  <div class="card-body text-center">
                    <p class="card-text">{video.default.split('/').pop().replace('.mpg', '')}</p>
                    <video controls>
                      <source src={video.default} type="video/mpeg">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
