---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container">
      <h1 class="text-gold">Videos</h1>
      <div class="card">
        <div class="card-body">
          <p class="card-text">This section will feature a collection of videos related to Mr. Umesh Chandra's life and career, including news reports and interviews. The video gallery is currently being curated and will be updated soon.</p>
          <div class="row mt-4">
            <div class="col-md-6 mb-4">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Video coming soon</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Video coming soon</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
